<bit-nav-item
  [icon]="archiveFilter.icon"
  [forceActiveStyles]="activeFilter()?.isArchived"
  (click)="handleArchiveFilter($event)"
  [text]="archiveFilter.name | i18n"
  [attr.aria-pressed]="activeFilter()?.isArchived"
>
  @if (!(canArchive$ | async)) {
    <ng-container slot="end">
      <app-premium-badge [iconOnly]="true" />
    </ng-container>
  }
</bit-nav-item>
<bit-nav-item
  [icon]="trashFilter.icon"
  [forceActiveStyles]="activeFilter()?.isDeleted"
  (click)="applyFilter('trash')"
  [text]="trashFilter.name | i18n"
  [attr.aria-pressed]="activeFilter()?.isDeleted"
  [appA11yTitle]="trashFilter.name | i18n"
/>
